
<div class="Body">
    <form [formGroup]="form" (ngSubmit)="submit()" class="Form" >
        <div class="funDoText">
            <div class="fText"> 
                <h1 style="color: #34a853;">F</h1>
                <h1 style="color: #3566b8; margin-left: 0;">u</h1>
                <h1 style="color: #fabb05; margin-left: 0;">n</h1>
                <h1 style="color: #3566b8; margin-left: 0;">d</h1>
                <h1 style="color: #ea4335; margin-left: 0;">o</h1>
                <h1 style="color: #fabb05; margin-left: 0;">o</h1>
                <h1 style="color: #3566b8; margin-left: 0;">N</h1>
                <h1 style="color: #ea4335; margin-left: 0;">o</h1>
                <h1 style="color: #34a853; margin-left: 0;">t</h1>
                <h1 style="color: #fabb05; margin-left: 0;">e</h1>
                <h1 style="color: #3566b8; margin-left: 0;">s</h1>                
            </div> 
        </div>
        <div class="head">
            <h1 class="signInText"> Sign in </h1>
            <h3 style="font-size: large; color: rgb(73, 72, 72);"> Use your Google Account </h3>
        </div>
        <div class="inputBox">
            <div class="row-content1"> 
            <!-- 1st div for userName  -->  
                <mat-form-field appearance="outline" class="inputContainer">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="" formControlName="userName">
                    <mat-error *ngIf="form.controls.userName.errors">User Name is required !</mat-error>
                </mat-form-field>
                <!-- <a routerLink="/forget-email"><h4 class="forget" style="color: #3566b8;"> Forget email?</h4> </a> -->
            </div>
            <div class="row-content2">
            <!-- 2nd div for password  -->    
                <mat-form-field appearance="outline" class="inputContainer">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="" formControlName="password">
                    <mat-error *ngIf="form.controls.password.errors">Password is required !</mat-error>
                </mat-form-field>
                <a routerLink="/forget-email"><h4 class="forget" style="color: #3566b8;"> Forget password?</h4></a>
            </div>
        </div>
        <div class="suggestion">
            <h4 style="margin-top: 20px; color: rgb(105, 105, 105);">Not your computer? Use Guest mode to sign in privately.</h4>
        </div>
        <div class="footer">
            <div>
                <a routerLink="/registration"><h4 class="createText">Create Account</h4></a>
            </div>
            <div>
                <button type="submit" mat-raised-button color="primary" class="button">Next</button>
            </div>
        </div>
    </form>
</div>